

.box{
  margin-left: 85px;
  width: 80%;
}

.head{
  width: 1658px;
  background: #EBEBEB;
  height: 100px;  
   position: fixed;
}
.section_1{
  width: 1326px;
  height: 1145px;
  position: relative;
  top: 100px;   
}
.section_2{
  width: 1658px;  
  height: 1200px;
  background:  #EBEBEB;
  position: relative;
  top: 30px;
}
.img_kom_section_2{
  position: relative;
  top: 100px;
  left: 77px;

}
.section_3{
  width: 1658px;
  height: 900px;
  background:  #EBEBEB;
  position: relative;
}
.footer{
  background: #BFBFBF;
  width:1658px;
  height: 100px; 
}

                             /*Медиа*/

.logo{
  width: 110px;
  position: relative;
  left: 20px;
  top: 10px;
}
.image_head{
  width: 125%;
  position: relative; 
}
.logo_section_2{
  width: 200px;
  position: relative;
  left: 715px;
  top: 50px;
}
.logo_2_section_2{
  width: 200px;
  position: relative;
  left: 715px;
  top: 70px;
}
#img_1_kom_section_2{
  width: 495px; 
  border: solid 4px #C5C5C5;
}
#img_2_kom_section_2{
  width: 495px; 
  border: solid 4px #C5C5C5;
}
#img_3_kom_section_2{
  width: 495px;  
  border: solid 4px #C5C5C5;
}
.img_email{
  width: 40px;
  position: relative;
  top: 100px;
  left: 660px;
}
.img_email_footer{
  width: 20px;
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}
.img_1_footer{
  width: 50px;
}



                            /*Блок меню*/
.menu{
  width: 800px;
  position: relative;
  left:40%;
  top: -100px;
}



                            /*Текст*/

.work_head{
  position: relative;
  left: 725px;
  top: -150px;
  font-family: 'Oswald', sans-serif;
font-family: 'Dancing Script', cursive;
}
.text_head{
  position: relative;
  top: -125%;
  left: 43%;
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;  
}
.h1_section_2{
  color: #E0B265;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
position: relative;
left: 775px;
top: 40px;
}
.text_section_2{
  width: 500px;
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
position: relative;
top: 55px;
left: 550px;
}
.h1_2_section_2{
  color: #E0B265;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
position: relative;
left: 698px;
top: 55px;
}
.text_2_section_2{
  width: 500px;
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
position: relative;
top: 75px;
left: 550px;
}
.h1_1_section_1{
   color: #E0B265;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
position: relative;
left: 740px;
top: 55px;
}
.p_email{
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
font-family: 'Libre Caslon Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
position: relative;
left: 710px;
top: 45px;
text-decoration: none;
}
.p_email_footer{
  font-size: 11px;
  font-family: 'Dancing Script', cursive;
font-family: 'Libre Caslon Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
position: relative;
left: 40px;
margin-top: 5px;
top: -25px;
}
.p_1_footer{
  font-size: 10px;
  position: relative;
  left: 768px;
  top: 20px;
}
.p_2_footer{
  font-size: 10px;
  position: relative;
  left: 750px;
  top: -20px;
}
.p_3_footer{
  font-size: 15px;
  position: relative;
  left: 1400px;
  top: -100px;
 font-family: 'Dancing Script', cursive;
font-family: 'Libre Caslon Text', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}



                             /*Меню*/


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: #EBEBEB;й
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}


                /*Слайдер коментариев*/


#wrapper
{
  margin: 50px auto;
  width: 673px;
}
#container
{
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 235px;
  padding: 32px;
  position: relative;
}
.sliderbutton
{
  cursor: pointer;
  float: left;
  height: 235px;
  width: 25px;
}
#slideleft
{
  background: url(images/icons.gif) -50px -265px no-repeat;
}
#slideleft:hover
{
  background-position: -0 -265px;
}
#slideright
{
  background: url(images/icons.gif) 0 90px no-repeat;
}
#slideright:hover
{
  background-position: -50px 90px;
}
#slider
{
  float: left;
  height: 235px;
  overflow: auto;
  position: relative;
  width: 558px;
}
#slider ul
{
  left: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
#slider li
{
  float: left;
  height: 235px;
  width: 558px;
}
.pagination
{
  height: 25px;
  list-style: none;
  position: absolute;
  right: 61px;
  top: 40px;
}
.pagination li
{
  background: #ccc;
  border: 1px solid #fff;
  cursor: pointer;
  float: left;
  height: 8px;
  margin: 0 4px 0 0;
  width: 8px;
}
.pagination li:hover, li.current
{
  background: #fff;
}

a{
  text-decoration: none;
  color: gray;

}


.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: animate__backInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.joh_button{
  position: relative;
  top:100px;
  left: 700px;
  width: 200px;
  height: 50px;
  display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */

}



.h1_anime{
  font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif; 
color: #E0B265;
  font-size: 40px;
  position: relative;
  left: 720px;
  top: 100px;
}

.div_img_anime{
  width: 1658px;
  background: #EBEBEB;
 
  height: 200px;  
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://dwstroy.ru/lessons/les3635/demo/img/concrete-texture.png");
 }
 .dws {
  position: absolute;
  top: 3260px ;
  left: 880px;
  transform: translate(-50%, -50%);
 }
 .blocImg {
  width: 600px;
  height: 338px;
  overflow: hidden;
  background: #000;
  cursor: pointer;
 }
 .blocImg img {
  width: 100%;
  transition: .5s;
 }
 .dws:hover .blocImg img {
  transform: rotate(-10deg) scale(1.3);
  filter: blur(1px);
  opacity: .5;
 }
 .blocText {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
 }
 .text {
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
  opacity: 0;
  transition: .5s;
 }
 .text h2 {
  font-size: 25px;
 }
 .text h2 span {
  color: orange;
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
 }
 .text p {
  position: absolute;
  top: 180px;
  width: 250px;
  border-left: 4px solid #ffb611;
  padding: 0 10px;
 }
 .dws:hover .text {
  opacity: 1;
 }
 .blocText::before,
 .blocText::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
 }
 .blocText::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0,1);
 }
 .blocText::after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scale(1,0);
 }
 .dws:hover .blocText::before,
 .dws:hover .blocText::after{
  transform: scale(1,1);
 }



 <div class="wow slideInLeft" data-wow-duration="3.5s" data-wow-delay="1s" data-wow-offset="120">
    Определенная информация
</div>





