.box{
	border: 3px solid black;
	width: 900px;
	position: relative;
	left: 450px;
	height: 500px;
}


img{
	border-radius: 200px;
	position: relative;
	left: 10px;
	top: 10px;
	border: 2px solid black;
}
h1{
	position: relative;
	left: 330px;
	top: -170px;
}
h3{
	position: relative;
	left: 330px;
	top: -150px;
}
.joh{
	
}
.project{
	border: 3px solid gray;
	background: lightgray;

}
.h3_project{
	position: relative;
	top: 0px;
	left: 400px;
}
.head{
	background: lightgray;
}
button{
	position: relative;
	top: 20px;
	left: 360px;
	width: 200px;
	height: 50px;

}
