use strict                       
/*Блоки*/
.box{
    width: 100%;
    background: lightgrey;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    list-style-type:none;
}
.time{
    
    text-align: center;
    color: #1E90FF;
}
.xrono{
    width: 20%;
    height: 100px;
    float: right;
}
footer{
    width: 100%;
    height: 100px;
    margin-top: -2%;
    background: lightgray;
    text-align: center;
    position: relative;
    top: 19px;

}
.column{
    background: gray;
}
.column1{
    background: #DCDCDC;
}
.column2{
    background: #DCDCDC;
}
.column3{
    background: #DCDCDC;
}
.column10{
    background: orange;
}
.hider1{
    display: none;
    background: white;
    margin-top: -150px;
}
.hider_image{
    width: 25%;
    float: right;
}
#container{
  border:1px solid #333;
  border-radius :20px;
  width:50%;
  margin:20px auto;
  padding:20px;
  text-align:center;
  background : #333;
}

#timer{ 
  color:#f00; 
  font-size:10px; 
  margin:10px auto;
  border : 5px solid red;
  border-radius:50%;
  width:200px;
  height:200px;
  overflow:hidden;
  position:relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

#time{
  margin-top:70px;
  z-index : 1;
  position:relative;
}

#filler{
  background : #ddffcc;
  height: 0px;
  width: 200px;
  position:absolute;
  bottom:0;
}

#buttons button { 
  background:#4da6ff; 
  border:none; 
  color:#fff; 
  cursor:pointer; 
  padding:5px; 
  width:90px; 
  margin:10px auto;
  font-size:14px;
  height : 50px;
  border-radius : 50px;
}

#buttons button#shortBreak{
  background : #0c0;
}

#buttons button#longBreak{
  background : #080;
}

#buttons button#stop{
  background : #f00;
}

.hider3 {
    display: none;
    margin-top: -150px;
}
.hider4 {
    display: none;
    margin-top: -150px;
}
.hider5 {
    display: none;
    margin-top: -150px;
}
.hider6 {
    display: none;
    margin-top: -150px;
}
.hider6 {
    display: none;
    margin-top: 0px;
}
.hider7 {
    display: none;
    margin-top: -150px;
}
.hider8{
    display: none;
    margin-top: -15%;
    }
.hider9{
  display: none;
  margin-top: -12%
}

.section2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left:15%;
    margin-top: -03px;

}
.div_batton1{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    margin-top: 83px;
}

.div_batton2{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    margin-top: 17px;
}

.div_button3{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    margin-top: 13px;
}

.div_button4{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    margin-top: 17px;
}
.main{
    width: 100%;
    background: white;
/*    height: 2150px;
*/    display: flex;
    align-items: center;
}
.section1{
    margin-top: 7%;
    width: 45%;
    /*height: 1700px;
*/    background: white;
    margin-left: 3%;
    padding-left: 10px;
}
.block1{
    margin-left: -37px;
    
    background:  gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.block2{
    background:   gray;
    margin-left: 17px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.block3{
    background:  gray;
    margin-left: 17px;
    
}
.block4{
    background:  gray;
    margin-left: -37px;
   
}
.block5{
    background:  gray;
    margin-left: 17px;
    
}
.block6{
    background:  gray;
    margin-left: 17px;
   
}
.block7{
    background:  gray;
    margin-left: -37px;
    
}
.block8{
    background:  gray;
     margin-left: 17px;
    
}
.block9{
    background:  gray;
     margin-left: 17px;
    
}
.block10{
    background:  gray;
    margin-left: -37px;

}
.block11{
    background:  gray;
     margin-left: 17px;

}
.block12{
    background:  gray;
     margin-left: 17px;

}

.drop{
    width: 50%;
    margin-top: 20px;

}
.hider0{
    background: white;
}
.rulee1{
    text-align: center;
}
.rejim{
    color: white;
    font-size: px;
    text-align: center;
}
.weight{
    width: 40%;
    margin-top: 40px;
}
.weight2{
    width: 40%;
}
.weight3{
    width: 50%;
}
.rulee2{
    text-align: center;
    font-size: 150%;
}
.form{
    background: #C0C0C0;
    width: 50%;
    border: 1px solid black;
}
.formm{
    background: #C0C0C0;
    width: 50%;
    border: 1px solid black;
}
.hider{
    margin-top: -150px;
}
.header1{
    width: 100%;
    height: 80px;
    background: lightgrey;
    display: flex;
    align-items: center;
}
.social{
    color: white;
    position: relative;
    left: 5%;
}
                    /*КАРТИНКИ*/
.img3{
    width: 100%;
}
.img2{
    float: right;
    width: 20%;
}
.logoandtext{
    width: 70%;
    display: flex;
}
.image{
    width: 25%;
    margin-left: 35%;
}

.logohkm{
    width: 12%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.img1{
    width: 250px;
}
.f{
  width: 300px;
}


                    /*ВИДЕО*/
video{
    width: 70%;
    height: 7%;
    margin-left: 13%;
}
                    /*ТЕКСТ*/

.h2{
    width: 15%;
    color: black;
    position: relative;
}

.h3{
    text-align: center;
    color: #1E90FF;
}
.hider9_text{
  position: relative;
  left: 30%;

}


                        /*ТАБЛИЦИ*/

td{
    border: 1px solid black;
}
table{
    width: 80%;
    text-align: center;
    margin-left: 6%;
}
                        /*КНОПКА*/
button{
    width: 40px;
    height: 40px;
}
#batton {
    width: 208px;
    height: 190px;
    border: 2px solid #e34761; /* Параметры рамки */
    font-size: 14px; /* Размер текста */
    padding: 5px 20px; /* Поля вокруг текста */
   }
button.block1:hover { background: lightgray; } /* при наведении курсора мышки */
button.block2:hover { background: lightgray; } /* при наведении курсора мышки */
button.block3:hover { background:lightgray; } /* при наведении курсора мышки */
button.block4:hover { background: lightgray; } /* при наведении курсора мышки */
button.block5:hover { background: lightgray; } /* при наведении курсора мышки */
button.block6:hover { background: lightgray; } /* при наведении курсора мышки */
button.block7:hover { background: lightgray; } /* при наведении курсора мышки */
button.block8:hover { background: lightgray; } /* при наведении курсора мышки */
button.block9:hover { background: lightgray; } /* при наведении курсора мышки */
button.block10:hover { background: lightgray; } /* при наведении курсора мышки */
button.block11:hover { background: lightgray; } /* при наведении курсора мышки */
button.block12:hover { background: lightgray; } /* при наведении курсора мышки */


family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                /*ТЕСТ*/
.del{
    display: none;
}


.section-test{
    height: 80%;
    width: 100%;
    border-radius: 40px 40px 40px 50px; 
    background-color: #ebecec;
    overflow: hidden;
}
.section-test-title{
    width: 100%;
    height: 10%;
    background-color: #daaee8;
    border-radius: 40px 40px 0px 0px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-test-title>h2{
    color: #fff;
    font-family: Arial;
}
.test{
    width: 100%;
    height: 90%;
    border-radius: 0px 0px 40px 250px;
    padding: 20px;
    flex-direction: column;

}
#tab-1:checked ~ #form-1,
#tab-2:checked ~ #form-2,
#tab-3:checked ~ #form-3, 
#tab-4:checked ~ #form-4,
#tab-5:checked ~ #form-5,
#tab-6:checked ~ #form-6,
#tab-7:checked ~ #form-7,
#tab-8:checked ~ #form-8,
#tab-9:checked ~ #form-9,
#tab-10:checked ~ #form-10,
#tab-11:checked ~ #form-11,
#tab-12:checked ~ #form-12,
#tab-13:checked ~ #form-13,
#tab-14:checked ~ #form-14,
#tab-15:checked ~ #form-15,
#tab-16:checked ~ #form-16,
#tab-17:checked ~ #form-17,
#tab-18:checked ~ #form-18,
#tab-19:checked ~ #form-19,
#tab-20:checked ~ #form-20,
#tab-21:checked ~ #form-21{
    display: flex;
}
.test_text_block{
    width: 100%;
    height: 23%;
    padding-right: 20px;
}
.test_text_block>p{
    font-family: Arial;
    font-size: 19px;
}
.test_button_block{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.answer{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
}
.answer>label{
    font-family: Arial;
    color: #9d9e9e;
    transition: 0.2s;
}
.answer>label::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #d9dada;
    border: 2px solid #fff;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.2s;
}
#no:checked + label::before, #no2:checked + label::before, #no3:checked + label::before, #no4:checked + label::before, #no5:checked + label::before, #no6:checked + label::before, #no7:checked + label::before, #no8:checked + label::before, #no9:checked + label::before, #no10:checked + label::before, #no11:checked + label::before, #no12:checked + label::before, #no13:checked + label::before, #no14:checked + label::before, #no15:checked + label::before, #no16:checked + label::before, #no17:checked + label::before, #no18:checked + label::before, #no19:checked + label::before, #no20:checked + label::before,
#maybe:checked  + label::before, #maybe2:checked  + label::before, #maybe3:checked  + label::before, #maybe4:checked  + label::before, #maybe5:checked  + label::before, #maybe6:checked  + label::before, #maybe7:checked  + label::before, #maybe8:checked  + label::before, #maybe9:checked  + label::before, #maybe10:checked  + label::before, #maybe11:checked  + label::before, #maybe12:checked  + label::before, #maybe13:checked  + label::before, #maybe14:checked  + label::before, #maybe15:checked  + label::before, #maybe16:checked  + label::before, #maybe17:checked  + label::before, #maybe18:checked  + label::before, #maybe19:checked  + label::before, #maybe20:checked  + label::before,
#yes:checked + label::before, #yes2:checked + label::before, #yes3:checked + label::before, #yes4:checked + label::before, 
#ok:checked + label::before, #ok2:checked + label::before, #ok3:checked + label::before, #ok4:checked + label::before
{
    background-color: #9f6fae;
}
#no:checked + label, #no2:checked + label, #no3:checked + label, #no4:checked + label, #no5:checked + label, #no6:checked + label, #no7:checked + label, #no8:checked + label, #no9:checked + label, #no10:checked + label, #no11:checked + label, #no12:checked + label, #no13:checked + label, #no14:checked + label, #no15:checked + label, #no16:checked + label, #no17:checked + label, #no18:checked + label, #no19:checked + label, #no20:checked + label,
#maybe:checked  + label, #maybe2:checked + label, #maybe3:checked + label, #maybe4:checked + label, #maybe5:checked + label, #maybe6:checked + label, #maybe7:checked + label, #maybe8:checked + label, #maybe9:checked + label, #maybe10:checked + label, #maybe11:checked + label, #maybe12:checked + label, #maybe13:checked + label, #maybe14:checked + label, #maybe15:checked + label, #maybe16:checked + label, #maybe17:checked + label, #maybe18:checked + label, #maybe19:checked + label, #maybe20:checked + label,
#yes:checked + label, #yes2:checked + label, #yes3:checked + label, #yes4:checked + label, #yes5:checked + label, #yes6:checked + label, #yes7:checked + label, #yes8:checked + label, #yes9:checked + label, #yes10:checked + label, #yes11:checked + label, #yes12:checked + label, #yes13:checked + label, #yes14:checked + label, #yes15:checked + label, #yes16:checked + label, #yes17:checked + label, #yes18:checked + label, #yes19:checked + label, #yes20:checked + label,
#ok:checked + label, #ok2:checked + label, #ok3:checked + label, #ok4:checked + label{

    color: #000;
}
.test_button{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.tab{
    width: 50%;
    height: 35px;
    border-radius: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    color: #fff;
    background-color: #daaee8;
    cursor: pointer;
    transition: 0.3s;
}
.tab:hover{
    transform: scale(1.05);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}
.finish-block{
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.results_text{
    font-size: 30px;
    font-family: Arial;
    color: #000;
}
.quest7{
    font-size: 150%;
}
.image7{
    width: 25%;
    margin-left: 35%;
    float: right;
}
.p_1_hider_7{
    font-size: 150%;
}
.p_2_hider_7{
    font-size: 
}

  

              /* to do list*/



/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul#myUL li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul#myUL li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul#myUL li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: gray;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
#myDIV{
  list-style-type:none;
}













table tr td{
  word-break: break-word;
}


 #myDIV 
 .sleep{
  /*background: none;
*/ }


                     /*fancybox*/


a {
  &:focus {
    outline: none !important;
  }
}

.card-img-top {
  width: 250px;
  margin: 10px;
  cursor: pointer;
  
  &:focus {
    outline: none !important;
  }
}

.fancybox-bg {
  background: white;
}

.fancybox-caption {
  font-family: 'Teko', sans-serif;
  letter-spacing: 2.5px;
  font-size: 24px;
  font-weight: normal;
  background: white;
  color: black;
  text-align: center;
  &:before {
    background-image: none;
  }
  
  a {
    color: #ccc !important;
  }
}

.fancybox-button {
  background: white;
  color: black;
}

.fancybox-button, .fancybox-button:visited, .fancybox-button:link {
  color: black;
}
data-fancybox{
  background: gray;
}

                        /* wrapper*/

}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  border: 1px solid #fff;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #fff;
 }
.front img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}  .wrapper_div_1{
    width: 100%
  }
  .wrapper_div_1{
    display: flex;
    position: relative;
    left: 15%;

  }
    .wrapper_div_2{
    display: flex;
    position: relative;
    left: 15%;

  }
    .wrapper_div_3{
    display: flex;
    position: relative;
    left: 15%;
  }
  .back{
    background: lightgray;
      border: 1px solid gray;
      color: ;

  }
  .front{
      border: 1px solid lightgray;

  }
    .wrapper_div_4{
    display: flex;
    position: relative;
    left: 21%;
  }
 #card2 {
  width: 250px;
  height: 250px;
  position: relative;
  perspective: 1000px;
  border: 1px solid #fff;
}
#card2:hover .front {
  transform: rotateY(180deg);}
#card2:hover .back {
  transform: rotateY(360deg);}  .wrapper_div_1{
    width: 100%
  }

#card:hover .front {
  transform: rotateY(180deg);}
#card:hover .back {
  transform: rotateY(360deg);}  .wrapper_div_1{
    width: 100%
  }


 #card {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  border: 1px solid #fff;
}
.animate__animated, .animate__pulse{
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  border: 1px solid #fff;
}






body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://dwstroy.ru/lessons/les3635/demo/img/concrete-texture.png");
 }
 .dws {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .blocImg {
  width: 600px;
  height: 338px;
  overflow: hidden;
  background: #000;
  cursor: pointer;
 }
 .blocImg img {
  width: 100%;
  transition: .5s;
 }
 .dws:hover .blocImg img {
  transform: rotate(-10deg) scale(1.3);
  filter: blur(1px);
  opacity: .5;
 }
 .blocText {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
 }
 .text {
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
  opacity: 0;
  transition: .5s;
 }
 .text h2 {
  font-size: 25px;
 }
 .text h2 span {
  color: orange;
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
 }
 .text p {
  position: absolute;
  top: 180px;
  width: 250px;
  border-left: 4px solid #ffb611;
  padding: 0 10px;
 }
 .dws:hover .text {
  opacity: 1;
 }
 .blocText::before,
 .blocText::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
 }
 .blocText::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0,1);
 }
 .blocText::after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scale(1,0);
 }
 .dws:hover .blocText::before,
 .dws:hover .blocText::after{
  transform: scale(1,1);
 }















  